.fieldBackground
    background-color: #ababab
    border-radius: 20px
    display: flex
    padding: 20px
    width: 10%
    height: 30%
    justify-content: center
    flex-direction: collum
    min-width: 180px
    min-height: 160px